@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa; /* Very light grey/white */
  color: #1f2937;
}

/* Hide scrollbar for clean mobile look */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}